*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing:border-box ;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.low_section{
    background-color: blue;
    width: 1920px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.container_T{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 110px;
}
.contact_T{
    margin-top: 275px;
    margin-bottom: 30px;
    font-family: Helvetica Neue;
    color: #FFFFFF;
    font-size: 32px;
}
p{
    display: inline-block;
    width: 463px;
    height: 99px;
    font-family: Helvetica Neue;
    font-size: 16px;
    color:#FFFFFF;
    margin-bottom: 58px;
}
.map{
    
    margin-bottom: 70px;
    
}
.social_images{
    background-color: white;
    padding: 22px;
    
}
.social_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}    
h4{
    font-size: 22px;
    color: #FFFFFF;
    font-family:Helvetica Neue;
    padding-left: 20px;
}
.border_map{
    height: 197px;
    width: 463px;
}
.social_divs{
    display: flex;
    align-items: center;
    margin-right:120px;
}
.registration_css{
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-family:Helvetica Neue;
    

}
.reg_box{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:blue;

}
button{
    padding: 18px 45px 18px 36px;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    background-color: white;
}
.button_move{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

}
.box {
    display: flex;
    background-color: #0A22F4;
    height: 308px;
    justify-content: space-around;
    padding-top: 70px;
}
.title {
    color: #FFFFFF;
}
.small-circles {
    display: flex;
}
.small-circles span {
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
}
.small-circles .circle-item {
    opacity: 1;
}
.image-container {
    display: flex;
    justify-content: flex-end;
}
.image-container img {
    max-width: 328px;
    margin-right: 20px;
    position: relative;
}

.image-box1 {
    align-self: center;
    top: -160px;
    position: relative;
}
.image-box {
    align-self: flex-end;
    top: -140px;
    position: relative;
}
 
.content-box {
    border-radius: 12px;
    width: 300px;
    height: 70px;
    background-color: #ffffff;
    position: relative;
    top: -80px;
    margin: 0 auto;
}
.position-text {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    position: absolute;
    color: #171717;
    text-align: center;
}
.other {
    font-size: 18px;
    color: #171717;
    text-align: right;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0%auto;
}
.margin-top{
    margin-top: 50px;
}
.width{
    width: 405px;
}
.title-2{
    color: #171717;
    font-family: 'Helvetica Neue';
}
.display-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.color{
    color: #171717;
    font-family: 'Helvetica Neue';
}
.blue-span-text{
    color:#0A22F4;
}
.images-box{
    width: 500px;
    justify-content: space-between;
}
.little-img{
     width: 150px;
     margin-top: 25px;
}
.justify-space-between{
    justify-content: space-between;
}
.blue-circles{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background-color: #0A22F4;
    opacity: 0.3;
    margin: 5px;
}
.blue{
    opacity: 1;
}
.second-sec{
    margin: 200px 0px 180px 0px;
}