*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing:border-box ;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.box {
    display: flex;
    background-color: #0A22F4;
    height: 308px;
    justify-content: space-around;
    padding-top: 70px;
}
.title {
    color: #FFFFFF;
}
.small-circles {
    display: flex;
}
.small-circles span {
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
}
.small-circles .circle-item {
    opacity: 1;
}
.image-container {
    display: flex;
    justify-content: flex-end;
}
.image-container img {
    max-width: 328px;
    margin-right: 20px;
    position: relative;
}

.image-box1 {
    align-self: center;
    top: -160px;
    position: relative;
}
.image-box {
    align-self: flex-end;
    top: -140px;
    position: relative;
}
 
.content-box {
    border-radius: 12px;
    width: 320px;
    height: 70px;
    background-color: #ffffff;
    position: relative;
    top: -80px;
    margin: 0 auto;
}
.position-text {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    position: absolute;
    color: #171717;
    text-align: center;
}
.other {
    font-size: 18px;
    color: #171717;
    text-align: right;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0%auto;
}
.margin-top{
    margin-top: 50px;
}
.blue-span-text{
    color:#0A22F4;
}
.font-size{
    font-size: 16px;
    font-family: 'Helvetica Neue';
}
.width{
    width: 405px;
}
.title-2{
    color: #171717;
    font-family: 'Helvetica Neue';
}
.display-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.images-box{
    width: 500px;
    justify-content: space-between;
}
.little-img{
     width: 150px;
     margin-top: 25px;
}
.justify-space-between{
    justify-content: space-between;
}
.blue-circles{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background-color: #0A22F4;
    opacity: 0.3;
    margin: 5px;
}
.blue{
    opacity: 1;
}
.second-sec{
    margin: 200px 0px 180px 0px;
}
